{% load static%}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/style.css' %}">

  <style>
    input, button {
  display: block;
}

#btn-remove {
  display: none;
}



    </style>
</head>
<body>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="{% static 'interface/javascript/style.js' %}"></script>

    <form action="" method="post">
        <input type="text" name="text[]" class="text"></input>
        <button type="button" id="btn-clone">clone</button>
        <button type="button" id="btn-remove">remove</button>
      </form>



<script>
$(function() {

// button
const btn_clone = $('#btn-clone');  // 追加ボタン
const btn_remove = $('#btn-remove');  // 削除ボタン

// clone
btn_clone.click(function() {
  
  var text = $('.text').last();  // 最後尾にあるinput

      text
    .clone()  // クローン
    .val('')  // valueもクローンされるので削除する
    .insertAfter(text);  // inputを最後尾に追加
  
  if ($('.text').length >= 2) {
    $(btn_remove).show();  // inputが2つ以上あるときに削除ボタンを表示
  }

});

// remove
btn_remove.click(function() {

  $('.text')
    .last()
    .remove();

  if ($('.text').length < 2) {
    btn_remove.hide();  // inputが2つ未満のときに削除ボタンを非表示
  }
  
});
});




</script>





</body>
</html>