{% extends "layout.html" %}
{% block content %}
<div class = "box_1">
<h1>
検索インタフェース
</h1>
<div class = "input_form">
<p>
各重み
コード：{{w_C}}，データ：{{w_D}}，ライブラリ：{{w_L}}，出力：{{w_O}}．
</p>

<form action="{% url 'interface:search' %}" method="post">
    {% csrf_token %}
    <input type="hidden", name="search", value="True">
    <input type="hidden" name="w_C" value={{w_C}}>
    <input type="hidden" name="w_D" value={{w_D}}>
    <input type="hidden" name="w_L" value={{w_L}}>
    <input type="hidden" name="w_O" value={{w_O}}>
    <input type="hidden", name="library", value="{{library}}">
    <input type="hidden", name="source_code", value={{source_code}}>
    <input type="hidden", name="library", value="{{library}}">
    <input type="hidden", name="data", value="{{data}}">
    <input type="hidden", name="output", value="{{output}}">
    <input type="submit" value="検索">
</form>
</p>

<form action="{% url 'interface:search' %}" method="post">
    {% csrf_token %}
    <input type="hidden", name="search", value="False">
    <p><input type="submit" value="条件を指定"></p>
    <label>code: </label>
    <input type="text" name="w_C" value={{w_C}} class="weight">
    <label>data: </label>
    <input type="text" name="w_D" value={{w_D}} class="weight">
    <label>library: </label>
    <input type="text" name="w_L" value={{w_L}} class="weight">
    <label>output: </label>
    <input type="text" name="w_O" value={{w_O}} class="weight">
    <p>
        <label>libraries: </label>
        <p>
        <input type="text", name="library", value="{{library}}", class="text_input">
        </p>
    </p>
    <p><label>source code: </label>
        <div class="source_code">
            <input type="text" name="source_code" value="{{source_code}}", class="text_input">
            <input type="button" value="＋" class="add pluralBtn">
            <input type="button" value="－" class="del pluralBtn">
        </div>
    </p>
    <p>
        <label>table data: </label>
        <input type="file", name="data", value="">
    </p>
    <p>
        <label>output form: </label>
        <select name="output">
            <option value="text">text</option>
            <option value="figure">figure</option>
            <option value="table_data">table data</option>
        </select>
    </p>
</form>
</div>
</div>
<div class = "box_2">
<p>
    検索結果
</p>
<a href="{{url}}">sample notebook 1</a>
<!-- <iframe src="{{url}}", width="600", height="400"></iframe> -->
</div>

<hr>

<div class = "for_debug">
    <p>
    debug: <br/>
    {{debug_data}}
    </p>
</div>

{% endblock %}
