
body{
    background-color: #f4f5f8;
    font-family: "Helvetica Neue","Segoe UI", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    word-wrap: break-word;
}

header{
    display: block;
    height: 72px;
    border: none;
}

.hero-header{
    padding: 0.7rem 0; 
    border-bottom: 1px solid #55575a;
}

.hero-header_visual{
    text-align: center;
}

form {
    visibility: visible;
}

.form_wrapper1{
    padding: 0 0.5rem; 
}


.form_wrapper2{
    background-color: white;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

.search_button_wrapper{
    text-align: center;
    padding: 0.5rem 0 1.0rem; 
}

.input_form2{
    padding: 1.0rem 1.0rem; 
    font-size: 18px;
}

.for_debug{
    background-color: rgb(143, 177, 189);
    padding: 1.0rem 0; 
    visibility: visible;
}

.label{
    user-select: none;
}
.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 18px;
    background: white;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    visibility: hidden;
}

.tooltip_wrap1{
    display: inline-block;
    text-align: right;
    width: 7em;
    padding: 0 0.7rem 0 0; 
    vertical-align: top;
}

.tooltip_wrap2{
    display: inline-block;
}

.wrap{
    margin: auto;
    width: 90%;
}

.inner{
    margin: auto;
    width: 90%;
}

.setting_query{
    border-bottom: 1px solid #55575a;
    padding: 2.0rem 0;
}


.wrapper {
    margin: auto;
    display: table;
    height: 100%;
    width: 100%;
    min-width: 400px;
}

.column {
    vertical-align: top;
    height: 100%;
    width: 50%;
    display: table-cell;
    border : none;
}

.cat1 {
    text-align: center;
    position: relative;
}

.cat2 {
    position: relative;
}

.input_form {
    width: 100%;
    text-align: left;
    padding: 0 0 2.0rem;
}

.search_button{
    border: 1px solid rgb(126, 197, 179);
    border-radius: 5px;
    background-color: rgb(126, 197, 179);
    padding: 20px;
    text-align: center;
    color: white;
    width: 250px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    font-size: 20px;
}

.label_weight{
    display: inline-block;
    text-align: right;
    width: 4em;
    padding: 0 0.3rem 0 0; 
}

.error_field{
    color: orangered;
}

.ranking{
    display: inline-block;
    text-align: right;
    width: 2em;
    padding: 0 0.3rem 0 0; 

}

.result{
    font-size: 18px;
    width: 100%;
}

.search_time{
    font-size: 12px;
    padding: 0 0.3rem 0 0; 
    visibility: hidden;
}


.result_inner{
    background-color: white;
    padding: 0 0.5rem 1.0rem; 
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    line-height: 105%;
}




  
.question{
position: relative;
margin: 0;
padding: .5em 1em;
font-size: 1em;
font-weight: bold;
cursor: pointer;
}
.question:hover{
    text-decoration:underline;
}

.question:after {
content: "";
position: absolute;
right: 25px;
top: 38%;
transition: all 0.2s ease-in-out;
/*   要素の動きを指定 */

display: block;
width: 8px;
height: 8px;
border-top: solid 4px #000;
border-right: solid 4px #000;

-webkit-transform: rotate(135deg);
transform: rotate(135deg);
/* transform: rotateで要素の角度を指定 */

}

.question.open:after {
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 45%;
/*   .openクラスがついた時の要素の角度を指定 */
}
.answer{
padding: .5em 1em;
}
  
.control {
    margin-bottom: 20px;
  }
  
.control button {
font-size: 1rem;
line-height: 1;
color: #4A4A4A;
text-align: center;
padding: .4rem .5rem;
cursor: pointer;
}
  